# Managed by lit.ubuntu.forward_proxy_client. Local changes are overwritten.
export http_proxy={{ forward_proxy_client_proxy_url | quote }}
export https_proxy={{ forward_proxy_client_proxy_url | quote }}
export HTTP_PROXY={{ forward_proxy_client_proxy_url | quote }}
export HTTPS_PROXY={{ forward_proxy_client_proxy_url | quote }}
export no_proxy={{ forward_proxy_client_no_proxy | join(',') | quote }}
export NO_PROXY={{ forward_proxy_client_no_proxy | join(',') | quote }}
