---
apiVersion: v1
kind: Pod
metadata:
  name: {{ forward_proxy_unit_name }}
spec:
  hostNetwork: true
  restartPolicy: Always
  terminationGracePeriodSeconds: 30
  containers:
    - name: squid
      image: {{ forward_proxy_image }}
      imagePullPolicy: {{ forward_proxy_image_pull_policy }}
      command:
        - /usr/sbin/squid
      args:
        - -f
        - /etc/squid/squid.conf
        - -NYC
      securityContext:
        runAsUser: {{ forward_proxy_runtime_uid }}
        runAsGroup: {{ forward_proxy_runtime_gid }}
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        privileged: false
        capabilities:
          drop:
            - ALL
      livenessProbe:
        tcpSocket:
          port: {{ forward_proxy_port }}
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 3
        failureThreshold: 3
      volumeMounts:
        - name: squid-config
          mountPath: /etc/squid/squid.conf
          readOnly: true
        - name: squid-tmp
          mountPath: /tmp
  volumes:
    - name: squid-config
      hostPath:
        path: {{ forward_proxy_config_path }}
        type: File
    - name: squid-tmp
      emptyDir: {}
